.n1{
    border: black;
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#b1 {
  border-radius: 999px;
  padding: 10px 22px;   
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: transparent;
  color: #e5e7eb;
}

#b0 {
  border-radius: 999px;
  padding: 10px 22px;
  border: 0;
  background: #f3f4f6;
  color: #111827;
}

.b2{
border: 0;
  background:black;
  color: white;
  font-size: larger;
}

#i1{
   color:white;
}


body{
    background-color: black;
}

#b1:hover{
    color: blue;
}

#b0:hover{
    color: blue;
}

.b2:hover{
    color:blue;
}

.n2{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    gap:5%;
}

.d2{
   
    font-size:xx-large;
}

.p1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.b3{
    border-radius: 999px;
  padding: 10px 22px;
  border: 0;
  background: #f3f4f6;
  color: #111827;
  font-size: larger;
}

.b3:hover{
    background-color: black;
    color: white;
}

.h6{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
}

.d5{
   
   
   margin:30px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.h0{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.d3{
    margin-left: 40px;
}

.h6{
    color: white;
}

.n3{
    display: flex;
    flex-direction: row;
    background-color: rgb(22, 19, 19);
    justify-content: center;
    align-items: center;
    border-color: #e5e7eb;
    margin-left: 40px;
    margin-right: 40px;
}

.d7{
      width:50%;
      height: 50%;
}

.d8{
     width:50%;
      height: 50%;
}


#i0{
    width: 100%;
    height: 100%;
}

.i67{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-left: 40px;
     padding-right: 40px;
}

.b8{
    border-radius: 999px;
  padding: 10px 22px;
  border: 0;
  background: #f3f4f6;
  color: #111827;
  font-size: larger;
}

.h15{
    color: white;
    font-size: 70px;
}

.n10{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b8{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.n11{
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:normal;
    font-size: x-large;
}

.d15{
    color: white;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max:20px;
}

.d16{
    padding: 60px;
}


a{
    color: white;
    text-decoration: none;
}